body {


    font-family: Arial, Helvetica, sans-serif;
    }
    
    
    header{
    
    background-color: #89CFF0;
    text-align: center;
    
    
    }
    
    nav{
    
    background-color: #ffffff;
    text-align: center;
    
    }
    
    section{
        background-color: #ffffff;
        text-align: center;
    
    }